body {
  font-family: Arial, san-serif;
  background: #f4f4f4;
  padding: 20px;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

h1, h2 {
  color: #333;
}

form input, form select, form button {
  margin: 5px 0;
  padding: 8px;
  font-size: 16px;
}

form button {
    cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

thead {
  background: #eee;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul#resultsList li {
  margin-bottom: 8px;
}

ul#resultsList button {
  margin-left: 10px;
  cursor: pointer;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  table {
    font-size: 14px;
    width: 100%;
    overflow-x: auto;
    display: block;
  }

  input, button {
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
  }
}
